{% load static %}



<footer class="bg-neutral-primary-soft rounded-base shadow-xs border border-default m-4 font-['Inter']">
    <div class="w-full mx-auto max-w-screen-xl p-4 md:flex md:items-center md:justify-between">
      <span class="text-sm text-body sm:text-center">© 2026 <a>Matheus Hack</a>. Todos os direitos reservados.
    </span>
    <ul class="flex flex-wrap items-center mt-3 text-sm font-medium text-body sm:mt-0">
        <li>
            <a href="{% url 'sobre' %}" class="hover:underline me-4 md:me-6">Sobre</a>
        </li>
        <li>
            <a href="{% url 'contact' %}" class="hover:underline">Contato</a>
        </li>
    </ul>
    </div>
</footer>
